:root {
	// primary
	--Strong-cyan: hsl(172, 67%, 45%);

	// neutral
	--Very-dark-cyan: hsl(183, 100%, 15%);
	--Dark-grayish-cyan: hsl(186, 14%, 43%);
	--Grayish-cyan: hsl(184, 14%, 56%);
	--Light-grayish-cyan: hsl(185, 41%, 84%);
	--Very-light-grayish-cyan: hsl(189, 41%, 97%);
	--White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Space Mono', monospace;
	align-items: center;
	background-color: var(--Light-grayish-cyan);
	height: 100vh;
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
}

// .num::-webkit-outer-spin-button,
// .num::-webkit-inner-spin-button {
// 	-webkit-appearance: none;
// 	margin: 0;
// }

input {
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: 2.4rem;
	padding-right: 0.5em;
	padding: 0.2em 0.5em 0.2em 0;
	width: 50%;
	cursor: pointer;
}

.title {
	position: relative;
	display: flex;
	flex-direction: column;
	top: 0;

	margin: 5em auto;

	span {
		position: relative;
		display: flex;
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: 700;
		letter-spacing: 0.3em;
		color: var(--Dark-grayish-cyan);
	}
}

.app {
	position: relative;
	display: flex;

	width: 700px;
	padding: 2em;
	gap: 2em;
	border-radius: 1rem;
	background-color: var(--White);

	&__left-side {
		width: 50%;

		.bill,
		.people {
			&__title {
				font-weight: 700;
				color: var(--Dark-grayish-cyan);
				padding-bottom: 0.2em;
			}

			&__box {
				position: relative;
				display: flex;

				&--sign {
					position: absolute;
					top: 50%;
					left: 5%;
					transform: translate(-50%, -50%);
				}

				&--price {
					width: 100%;
					border: 1px solid var(--Light-grayish-cyan);
				}
			}
		}

		.people {
			&__title {
				margin-top: 2em;
			}
		}

		.tip {
			margin-top: 2em;

			&__title {
				font-weight: 700;
				color: var(--Dark-grayish-cyan);
				padding-bottom: 0.2em;
			}

			&__btn-first,
			&__btn-second {
				position: relative;
				margin-bottom: 0.8em;

				&--custom {
					display: inline-block;
					padding: 0;
					text-align: center;
				}

				&--custom::placeholder {
					font-size: 2rem;
				}

				&--percent,
				&--custom {
					font-size: 2.4rem;
					width: 31%;
					padding: 0.2em 0;
					font-weight: 500;
					cursor: pointer;
				}
			}
		}
	}

	&__right-side {
		width: 50%;
		background-color: var(--Very-dark-cyan);
		border-radius: 1rem;
	}
}
